html{
  background-color: #0C242D;
}

.widget{
  background-color: #4586DA;
  border-radius: 5px;
  padding: 5px;
}

h6,h5,h4,h3,h2,h1{
  color: #EDEAE0;
}

p{
  color: #EDEAE0;
}

th{
  color: #EDEAE0;
}

td{
  color: #EDEAE0;
}

.footer{
  text-align: center;
}
