a { text-decoration: none;}

html { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap{
  width: 100%;
}

#header{
  width: 1000px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

#main{
  width: 1000px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

#footer{
  width: 1000px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.fontHeader{
  font-size: 30px;
  color: #1e345d;
  font-family: 'Alegreya Sans', sans-serif;
}

.fontHeader:hover{
  font-size: 30px;
  color: #bbc3cc; 
  font-family: 'Alegreya Sans', sans-serif;
}

.fontMainLarge{
  font-size: 35px;
  color: #1e345d;
  font-family: 'Alegreya Sans', sans-serif;
}

.fontMainRegular{
  font-size: 20px;
  color: #1e345d;
  opacity: 1;
  font-family: 'Alegreya Sans', sans-serif;
}

.fontFooter{
  font-size: 15px;
  color: #1e345d;
  font-family: 'Alegreya Sans', sans-serif;
}

.roundedImage{
  border-radius: 50%;
}

.button{
  background-color: #1e345d;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 30px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;  
  text-align: center;
}

.button:hover{
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #1e345d;
  font-size: 30px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;  
  text-align: center;
	
}
