a{ 
  text-decoration: none;
}

hr{
  width: 75px;
  background-color: #ffffff;
  height:1px;
  border: none;
}

html,body{ 
  background-color: #7f8c8d;  
  margin: 0;
  padding: 0;
}

#white{
  width: 100%;
  background-color: #ffffff;
}

#grey{
  width: 100%;
  background-color: #7f8c8d;
}

#textbox{
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.name{
  text-align:center;
  font-size: 90px;
  font-weight: bold;
  color: #7f8c8d;
  font-family: 'Roboto Condensed', sans-serif;  
}

.fontLargeGrey{
  font-size: 35px;
  color: #7f8c8d;
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
}

.fontLargeWhite{
  font-size: 35px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
}

.fontRegularGrey{
  font-size: 25px;
  color: #7f8c8d;
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
}

.fontRegularWhite{
  font-size: 25px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
}

.fontFooter{
  font-size: 15px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;

}
.button{
  width: 125px;
  height: 50px;
  background-color: #7f8c8d;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  vertical-align: middle;
  line-height: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button:hover{
  background-color: #ffffff;
  color: #7f8c8d;
}

.plus{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #7f8c8d;
  font-size: 75px;
  text-align:center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  line-height: 150px;
  font-family: 'Roboto Condensed', sans-serif;
}
