a { text-decoration: none;}

html { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap{
  width: 100%;
}

#main{
  width: 97%;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.fontHeader{
  font-size: 75px;
  color: #7f8c8d;
  font-family: 'Alegreya Sans', sans-serif;
}

.fontMainLarge{
  font-size: 65px;
  color: #7f8c8d;
  font-family: 'Alegreya Sans', sans-serif;
}

.fontMainRegular{
  font-size: 45px;
  color: #7f8c8d;
  opacity: 1;
  font-family: 'Alegreya Sans', sans-serif;
}

.fontFooter{
  font-size: 25px;
  color: #7f8c8d;
  font-family: 'Alegreya Sans', sans-serif;
}

.roundedImage{
  border-radius: 50%;
}

.button{
  border-radius: 50%;
  color: #7f8c8d;
  font-size: 100px;
  width: 250px;
  height: 250px;
  vertical-align: middle;
  line-height: 250px;  
  text-align: center;
}
