html,body{
  margin: 0px;
  padding: 0px;
  background-color: #303030;
}

.mdl-layout__header{
  background-color: #212121;
}

.colorWhite{
  color: #ffffff;
}

.centerFont{
  text-align: center;
}

.card-wide.mdl-card {
  width: 900px;
  background-color: #424242;
  margin: auto;
  display: block;
}

.profilePicture{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
